*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat;
   background-size: cover; 
}

body, .card *{
   font-size: 16px;
   font-family: 'Rubik', sans-serif;
}